@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 22px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #2c3440;
}
@media (max-width: 768px) {
  html body {
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  html body {
    overflow-x: hidden;
  }
}
html body #home .bg-img {
  background-image: url("../images/spidermanbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 20px 50px 50px 50px rgb(7, 1, 22) inset;
  transform: translateX(center);
}
@media (max-width: 480px) {
  html body #home .bg-img {
    height: 159vh;
    background-size: cover;
  }
}
html body #home .bg-img .grid-container {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  display: grid;
  grid-template-columns: 600px 300px 400px;
  grid-template-rows: 100px 400px 150px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container {
    font-size: 20px;
    display: grid;
    grid-template-columns: 400px 200px 100px;
    grid-template-rows: 100px 400px 150px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container {
    font-size: 20px;
    display: grid;
    grid-template-columns: 200px 100px 50px;
    grid-template-rows: 50px 200px 75px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) {
  margin-top: 25px;
  grid-column: 1/span 2;
  width: 1002px;
  height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 70px;
  position: fixed;
  z-index: 1;
}
@media (min-width: 769px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) .grid-item:nth-child(1):hover {
    background-color: #2c3440;
  }
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) {
    gap: 30px;
    position: fixed;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) .logo {
  transform: translateY(-1px);
  width: 100px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) .logo {
    width: 100px;
    height: 100px;
    transform: translateY(-10px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) .logo {
    transform: translateY(-14px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav {
  margin-top: -5px;
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) nav {
    display: none;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul {
  display: flex;
  gap: 70px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul {
    gap: 20px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a {
  padding: 5px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a li {
  font-size: 20px;
  color: white;
  opacity: 0.5;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a li {
    font-size: 15px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a .li-aboutus {
  font-size: 20px;
  color: white;
  width: 130px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a .li-aboutus {
    font-size: 15px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a li:hover {
  opacity: 1;
}
html body #home .bg-img .grid-container .grid-item:nth-child(1) nav ul a:hover {
  border-bottom: 1px solid white;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 25px;
  transform: translate(1100px, 26px);
  position: fixed;
  z-index: 1;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(2) {
    transform: translate(477px, 84px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(2) {
    transform: translate(177px, 5px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) input {
  display: none;
  width: 140px;
  transform: translate(50px, -20px);
  background-color: rgba(44, 52, 64, 0.6705882353);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  animation: inputanim 1000ms;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) .fa-solid {
  transform: translate(50px, -20px);
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu {
    transform: translate(37px, -21px);
    display: block;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span,
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:before,
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:before,
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:after {
  content: "";
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu {
    z-index: 1;
    min-height: 100%;
    position: fixed;
    top: 38px;
    left: 23px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 24px;
  background: rgba(0, 0, 0, 0.5);
  height: 322px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu ul {
  padding: 0;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu li {
  list-style: none;
  font-size: 20px;
  color: white;
}
html body #home .bg-img .grid-container .grid-item:nth-child(2) #menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}
@keyframes inputanim {
  from {
    transform: translate(50px, -20px);
  }
  to {
    transform: translate(-50px, -20px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(2):hover input {
  display: block;
  transform: translate(-35px, -20px);
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) {
  transform: translate(200px, 200px);
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) {
    transform: translate(123px, 247px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) {
    height: 154px;
    width: 408px;
    transform: translate(122px, 107px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) h1 {
  font-size: 40px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) h1 {
    font-size: 50px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) button {
  transform: translate(-30px, -20px);
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) button {
    width: 99px;
    height: 54px;
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(3) button {
    width: 225px;
    height: 60px;
    font-size: 17px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 22px;
  right: -20px;
  transition: 0.5s;
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) button:hover {
  padding-right: 24px;
  padding-left: 8px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(3) button:hover:after {
  opacity: 1;
  right: 10px;
}
html body #home .bg-img .grid-container .grid-item:nth-child(4) {
  transform: translate(0px, 100px);
  grid-row: 3;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(4) {
    transform: translate(0px, 82px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(4) .tibisilogo {
  width: 50px;
  height: 50px;
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(4) .tibisilogo {
    transform: translate(0px, 631px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) {
  grid-row: 3;
  width: 775px;
  transform: translateX(-400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: black;
  opacity: 0.85;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) {
    height: 96px;
    width: 438px;
    transform: translate(-347px, 20px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) {
    height: 413px;
    width: 301px;
    transform: translate(-124px, 141px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) h2 {
  font-size: 15px;
  transform: translate(316px, -20px);
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) h2 {
    font-size: 11px;
    transform: translate(160px, -13px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) h2 {
    font-size: 22px;
    transform: translate(-1px, -39px);
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find {
    gap: 6px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find h6 {
  color: #dd2242;
  text-align: center;
  font-size: 42.137px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find h6 {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find h6 {
    font-size: 25px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find p {
    font-size: 9px;
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(5) .cont .what-u-find p {
    font-size: 15px;
  }
}
html body #home .bg-img .grid-container .grid-item:nth-child(6) {
  grid-row: 3;
}
html body #home .bg-img .grid-container .grid-item:nth-child(6) video {
  width: 350px;
  transform: translate(95px, -45px);
  animation: mymove 1000ms;
}
@media (max-width: 768px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(6) video {
    width: 235px;
    transform: translate(-88px, 0px);
  }
}
@media (max-width: 480px) {
  html body #home .bg-img .grid-container .grid-item:nth-child(6) video {
    width: 273px;
    transform: translate(-205px, 602px);
  }
}
@keyframes mymove {
  from {
    transform: translate(95px, 100px);
  }
  to {
    transform: translate(95px, -45px);
  }
}
@media (max-width: 768px) {
  @keyframes mymove {
    from {
      transform: translate(-88px, 70px);
    }
    to {
      transform: translate(-88px, 0px);
    }
  }
}
@media (max-width: 480px) {
  @keyframes mymove {
    from {
      transform: translate(-205px, 268px);
    }
    to {
      transform: translate(-205px, 238px);
    }
  }
}
html body #home .sect2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 400px 400px;
  gap: 100px;
  padding: 10px;
  margin-top: 200px;
}
html body #home .sect2 .grid2:nth-child(1) img {
  width: 300px;
  height: 350px;
  transform: translateX(250px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(2) h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  transform: translate(-50px, -70px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(2) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  transform: translate(0, -60px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(2) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  width: 300px;
  height: 200px;
  transform: translate(0, -60px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(2) .button-mafia {
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  background-color: #2c2424;
  transform: translate(-70px, 130px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(3) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  transform: translate(300px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(3) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  width: 300px;
  height: 200px;
  transform: translate(300px);
}
html body #home .sect2 .grid2:nth-child(1) .grid2:nth-child(4) img {
  width: 300px;
  height: 350px;
  transform: translate(30px);
}
html body #home .sect3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 400px 400px;
  gap: 100px;
  padding: 10px;
  margin-top: 200px;
}
html body #home .sect3 .grid3:nth-child(1) {
  width: 300px;
  height: 350px;
  transform: translate(300px);
}
html body #home .sect3 .grid3:nth-child(1) img {
  height: 450px;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(1) img {
    height: 372px;
    width: 236px;
    transform: translate(-247px, 60px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(1) img {
    width: 326px;
    transform: translate(-253px, 1049px);
    border-radius: 10px;
  }
}
html body #home .sect3 .grid3:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  transform: translate(-50px);
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(2) {
    width: 329px;
  }
}
html body #home .sect3 .grid3:nth-child(2) h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  transform: translate(-180px, -80px);
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(2) h2 {
    font-size: 36px;
    color: rgb(24, 8, 8);
    transform: translate(-273px, 968px);
  }
}
html body #home .sect3 .grid3:nth-child(2) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(2) h4 {
    font-size: 37px;
    transform: translate(-86px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(2) h4 {
    font-size: 37px;
    transform: translate(-300px, 1386px);
  }
}
html body #home .sect3 .grid3:nth-child(2) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(2) p {
    transform: translate(-82px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(2) p {
    transform: translate(-350px, 1394px);
    font-size: 15px;
  }
}
html body #home .sect3 .grid3:nth-child(2) a .space-button {
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  width: 200px;
  transform: translateY(-20px);
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(2) a .space-button {
    transform: translateY(28px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(2) a .space-button {
    transform: translate(-333px, 1375px);
  }
}
html body #home .sect3 .grid3:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  transform: translate(300px);
}
html body #home .sect3 .grid3:nth-child(3) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(3) h4 {
    font-size: 37px;
    transform: translate(-243px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(3) h4 {
    font-size: 37px;
    transform: translate(-168px, 1876px);
  }
}
html body #home .sect3 .grid3:nth-child(3) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(3) p {
    transform: translate(-246px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(3) p {
    transform: translate(-239px, 1882px);
    font-size: 15px;
  }
}
html body #home .sect3 .grid3:nth-child(4) {
  transform: translate(-10px);
  width: 350px;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(4) {
    width: 250px;
  }
}
html body #home .sect3 .grid3:nth-child(4) img {
  height: 450px;
}
@media (max-width: 768px) {
  html body #home .sect3 .grid3:nth-child(4) img {
    height: 372px;
    width: 236px;
    transform: translate(-9px, 60px);
  }
}
@media (max-width: 480px) {
  html body #home .sect3 .grid3:nth-child(4) img {
    height: 423px;
    width: 362px;
    transform: translate(-405px, 1445px);
    border-radius: 10px;
  }
}
html body #home .sect4 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 400px 400px;
  gap: 100px;
  padding: 10px;
  margin-top: 150px;
}
html body #home .sect4 .grid4:nth-child(1) img {
  width: 350px;
  height: 400px;
  transform: translate(310px, 60px);
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(1) img {
    height: 372px;
    width: 236px;
    transform: translate(58px, 60px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(1) img {
    height: 423px;
    width: 362px;
    transform: translate(49px, -45px);
    border-radius: 10px;
  }
}
html body #home .sect4 .grid4:nth-child(2) h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  transform: translate(-250px, -50px);
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(2) h2 {
    font-size: 36px;
    color: rgb(24, 8, 8);
    transform: translate(-333px, -100px);
  }
}
html body #home .sect4 .grid4:nth-child(2) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  transform: translate(-90px);
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(2) h4 {
    font-size: 37px;
    transform: translate(-128px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(2) h4 {
    font-size: 37px;
    transform: translate(-343px, 347px);
  }
}
html body #home .sect4 .grid4:nth-child(2) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  width: 350px;
  transform: translate(-80px);
  font-size: 10px;
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(2) p {
    transform: translate(-125px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(2) p {
    transform: translate(-403px, 353px);
    font-size: 15px;
  }
}
html body #home .sect4 .grid4:nth-child(3) h4 {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  transform: translate(330px);
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(3) h4 {
    font-size: 37px;
    transform: translate(63px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(3) h4 {
    font-size: 37px;
    transform: translate(58px, 948px);
  }
}
html body #home .sect4 .grid4:nth-child(3) p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  font-size: 10px;
  transform: translate(340px);
  width: 350px;
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(3) p {
    transform: translate(61px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(3) p {
    transform: translate(56px, 955px);
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(4) {
    width: 200px;
  }
}
html body #home .sect4 .grid4:nth-child(4) img {
  width: 300px;
  transform: translate(0, 60px);
}
@media (max-width: 768px) {
  html body #home .sect4 .grid4:nth-child(4) img {
    width: 236px;
    transform: translate(-14px, 60px);
  }
}
@media (max-width: 480px) {
  html body #home .sect4 .grid4:nth-child(4) img {
    width: 326px;
    transform: translate(-415px, 445px);
    border-radius: 10px;
  }
}
html body #home .sect5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(130px);
  margin-top: 250px;
  position: absolute;
}
@media (max-width: 480px) {
  html body #home .sect5 {
    transform: translateY(1980px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #home .sect5 h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  position: absolute;
  left: 300px;
  top: -130px;
  width: 500px;
}
@media (max-width: 768px) {
  html body #home .sect5 h2 {
    font-size: 40px;
    position: absolute;
    left: 51px;
    top: -130px;
  }
}
html body #home .sect5 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  font-size: 20px;
  width: 500px;
  position: absolute;
  left: 361px;
  top: -50px;
}
@media (max-width: 768px) {
  html body #home .sect5 p {
    font-size: 17px;
    position: absolute;
    left: 93px;
    top: -66px;
  }
}
html body #home .sect5 .sect5-container {
  width: 500px;
  height: 1000px;
  display: flex;
  gap: 100px;
}
html body #home .sect5 .sect5-container .imgcont:nth-child(1) {
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(1) {
    transform: translate(115px, 0);
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(1) .onceupon {
  height: 470px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(1) .onceupon {
    height: 325px;
    width: 185px;
    position: absolute;
    top: 0px;
    left: -101px;
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(1) .apocalypsenow {
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(1) .apocalypsenow {
    height: 84px;
    width: 185px;
    position: absolute;
    top: 355px;
    left: -101px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(1) .apocalypsenow {
    transform: translate(71px, 297px);
    width: 300px;
    height: 120px;
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(2) {
  width: 300px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) {
    transform: translate(-93px, 0);
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(2) .spaceodyssey {
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) .spaceodyssey {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 3px;
    left: 133px;
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(2) .barrylyndon {
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) .barrylyndon {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 159px;
    left: 133px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) .barrylyndon {
    position: absolute;
    top: 179px;
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(2) .cityofgod {
  height: 170px;
  border-radius: 20px;
  transform: translateY(13px);
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) .cityofgod {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 301px;
    left: 133px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(2) .cityofgod {
    transform: translateY(46px);
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(3) {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
html body #home .sect5 .sect5-container .imgcont:nth-child(3) .joker {
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .joker {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 3px;
    left: 382px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .joker {
    transform: translate(-369px, 499px);
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(3) .memories {
  border-radius: 20px;
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .memories {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 158px;
    left: 382px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .memories {
    transform: translate(-146px, 344px);
  }
}
html body #home .sect5 .sect5-container .imgcont:nth-child(3) .taxidriver {
  border-radius: 20px;
  transform: translateY(27px);
}
@media (max-width: 768px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .taxidriver {
    width: 218px;
    height: 128px;
    position: absolute;
    top: 288px;
    left: 382px;
  }
}
@media (max-width: 480px) {
  html body #home .sect5 .sect5-container .imgcont:nth-child(3) .taxidriver {
    transform: translate(-373px, 62px);
  }
}
html body #home .sect6 .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 1070px;
  transform: translateY(1000px);
}
@media (max-width: 768px) {
  html body #home .sect6 .slideshow-container {
    transform: translateY(762px);
  }
}
@media (max-width: 480px) {
  html body #home .sect6 .slideshow-container {
    transform: translateY(3111px);
  }
}
html body #home .sect6 .slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
html body #home .sect6 .slideshow-container .mySlides {
  display: none;
}
html body #home .sect6 .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
html body #home .sect6 .slideshow-container .mySlides img {
  height: 647px;
}
@media (max-width: 480px) {
  html body #home .sect6 .slideshow-container .mySlides img {
    height: 347px;
  }
}
html body #home .sect6 .slideshow-container .mySlides .text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
html body #home .sect6 .slideshow-container .prev,
html body #home .sect6 .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body #home .sect6 .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
html body #home .sect6 .slideshow-container .prev:hover,
html body #home .sect6 .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
html body #home .sect6 .slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
html body #home .sect6 .slideshow-container .active,
html body #home .sect6 .slideshow-container .dot:hover {
  background-color: #717171;
}
@media (max-width: 480px) {
  html body #aboutus {
    transform: translateY(2990px);
  }
}
html body #aboutus .bg-about {
  width: 100%;
  height: 500px;
  background-image: url(../images/spidermanbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
@media (max-width: 480px) {
  html body #aboutus .bg-about {
    height: 687px;
  }
}
html body #aboutus .bg-text {
  display: flex;
  flex-direction: column;
  position: relative;
}
html body #aboutus .bg-text h2 {
  font-size: 50px;
  color: white;
  position: absolute;
  bottom: 375px;
  left: 535px;
}
@media (max-width: 768px) {
  html body #aboutus .bg-text h2 {
    font-size: 37px;
    position: absolute;
    bottom: 376px;
    left: 271px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .bg-text h2 {
    position: absolute;
    bottom: 611px;
    left: 125px;
  }
}
html body #aboutus .bg-text p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  font-size: 17px;
  position: absolute;
  bottom: 325px;
  left: 375px;
}
@media (max-width: 768px) {
  html body #aboutus .bg-text p {
    position: absolute;
    bottom: 318px;
    left: 185px;
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .bg-text p {
    position: absolute;
    bottom: 549px;
    left: 19px;
    font-size: 12px;
  }
}
html body #aboutus h5 {
  color: #dd2242;
  text-align: center;
  font-size: 42.137px;
  font-style: normal;
  font-weight: 700;
  width: 200px;
}
@media (max-width: 768px) {
  html body #aboutus h5 {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  html body #aboutus h5 {
    font-size: 40px;
  }
}
html body #aboutus .p51,
html body #aboutus .p52,
html body #aboutus .p53 {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  width: 240px;
}
@media (max-width: 768px) {
  html body #aboutus .p51,
  html body #aboutus .p52,
  html body #aboutus .p53 {
    font-size: 9px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .p51,
  html body #aboutus .p52,
  html body #aboutus .p53 {
    font-size: 17px;
    width: 274px;
  }
}
html body #aboutus .h51 {
  transform: translate(50px, -280px);
}
@media (max-width: 768px) {
  html body #aboutus .h51 {
    transform: translate(50px, -280px);
  }
}
@media (max-width: 480px) {
  html body #aboutus .h51 {
    transform: translate(128px, -541px);
  }
}
html body #aboutus .h52 {
  transform: translate(569px, -430px);
}
@media (max-width: 768px) {
  html body #aboutus .h52 {
    transform: translate(273px, -438px);
  }
}
@media (max-width: 480px) {
  html body #aboutus .h52 {
    transform: translate(128px, -523px);
  }
}
html body #aboutus .h53 {
  transform: translate(1100px, -590px);
}
@media (max-width: 768px) {
  html body #aboutus .h53 {
    transform: translate(530px, -620px);
  }
}
@media (max-width: 480px) {
  html body #aboutus .h53 {
    transform: translate(128px, -501px);
  }
}
html body #aboutus .p51 {
  transform: translate(50px, -280px);
}
@media (max-width: 768px) {
  html body #aboutus .p51 {
    transform: translate(101px, -272px);
    width: 124px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .p51 {
    width: 274px;
    transform: translate(115px, -533px);
  }
}
html body #aboutus .p52 {
  transform: translate(569px, -430px);
}
@media (max-width: 768px) {
  html body #aboutus .p52 {
    transform: translate(327px, -430px);
    width: 124px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .p52 {
    width: 274px;
    transform: translate(115px, -513px);
  }
}
html body #aboutus .p53 {
  transform: translate(1100px, -585px);
}
@media (max-width: 768px) {
  html body #aboutus .p53 {
    transform: translate(584px, -615px);
    width: 124px;
  }
}
@media (max-width: 480px) {
  html body #aboutus .p53 {
    width: 274px;
    transform: translate(115px, -492px);
  }
}
html body #services {
  width: 100%;
  height: 700px;
  transform: translateY(-826px);
}
@media (max-width: 480px) {
  html body #services {
    transform: translateY(2612px);
  }
}
html body #services .line {
  background-color: black;
  transform: translate(144px, 560px);
  height: 494px;
}
@media (max-width: 480px) {
  html body #services .line {
    display: none;
  }
}
html body #services .title {
  font-size: 50px;
  color: rgb(24, 8, 8);
  transform: translate(120px, -50px);
  width: 400px;
}
@media (max-width: 768px) {
  html body #services .title {
    width: 200px;
  }
}
html body #services .servisebi1 {
  width: 70%;
  height: 25%;
  display: flex;
  gap: 30px;
  padding: 10px;
  transform: translate(100px);
}
html body #services .servisebi1 .circle {
  background-color: red;
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  html body #services .servisebi1 .circle {
    transform: translate(93px, -21px);
    font-size: 35px;
    width: 121px;
    height: 75px;
  }
}
@media (max-width: 480px) {
  html body #services .servisebi1 .shinaarsi1 {
    transform: translate(-76px, 71px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #services .servisebi1 .shinaarsi1 h2 {
  font-size: 20px;
  color: black;
}
html body #services .servisebi1 .shinaarsi1 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  transform: translateY(5px);
}
@media (max-width: 768px) {
  html body #services .servisebi1 .shinaarsi1 p {
    font-size: 11px;
  }
}
html body #services .servisebi1 .shinaarsi2 h2 {
  font-size: 20px;
  color: black;
}
html body #services .servisebi1 .shinaarsi2 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  transform: translateY(5px);
}
@media (max-width: 768px) {
  html body #services .servisebi1 .shinaarsi2 p {
    font-size: 11px;
  }
}
html body #services .servisebi1 .shinaarsi22 {
  display: flex;
}
html body #services .servisebi1 .shinaarsi22 .shinaarsi23 {
  display: flex;
  flex-direction: column;
}
html body #services .servisebi2 {
  width: 70%;
  height: 35%;
  display: flex;
  gap: 30px;
  padding: 10px;
  transform: translate(100px);
}
html body #services .servisebi2 .circle {
  background-color: red;
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  html body #services .servisebi2 .circle {
    height: 60px;
    transform: translate(0px, 2px);
    width: 100px;
  }
}
@media (max-width: 480px) {
  html body #services .servisebi2 .circle {
    transform: translate(103px, 44px);
    font-size: 35px;
    width: 176px;
    height: 75px;
  }
}
html body #services .servisebi2 div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  html body #services .servisebi2 div .shinaarsi2 {
    display: flex;
    flex-direction: column;
    transform: translate(-64px, 141px);
    align-items: center;
  }
}
html body #services .servisebi2 div .shinaarsi2 h2 {
  font-size: 20px;
  color: black;
}
html body #services .servisebi2 div .shinaarsi2 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  transform: translateY(5px);
}
@media (max-width: 768px) {
  html body #services .servisebi2 div .shinaarsi2 p {
    font-size: 11px;
  }
}
html body #services .servisebi2 div .shinaarsi22 {
  display: flex;
  flex-direction: row;
  transform: translate(0px, 50px);
  gap: 10px;
}
@media (max-width: 480px) {
  html body #services .servisebi2 div .shinaarsi22 {
    transform: translate(23px, 50px);
    display: flex;
    flex-direction: column;
  }
}
html body #services .servisebi2 div .shinaarsi22 img {
  width: 100px;
}
@media (max-width: 480px) {
  html body #services .servisebi2 div .shinaarsi22 img {
    transform: translate(-88px, 115px);
    width: 179px;
  }
}
@media (max-width: 480px) {
  html body #services .servisebi2 div .shinaarsi22 .shinaarsi23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-88px, 129px);
  }
}
html body #services .servisebi2 div .shinaarsi22 .shinaarsi23 h2 {
  font-size: 20px;
  color: black;
}
html body #services .servisebi2 div .shinaarsi22 .shinaarsi23 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  transform: translateY(5px);
}
@media (max-width: 768px) {
  html body #services .servisebi2 div .shinaarsi22 .shinaarsi23 p {
    font-size: 11px;
  }
}
html body #services .servisebi2 div .shinaarsi22 .shinaarsi23 .services-button {
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
html body #services .servisebi3 {
  width: 70%;
  height: 45px;
  display: flex;
  gap: 30px;
  padding: 10px;
  transform: translate(100px, 0px);
}
@media (max-width: 480px) {
  html body #services .servisebi3 {
    transform: translate(100px, 200px);
  }
}
@media (max-width: 480px) {
  html body #services .servisebi3 .servisebi33 {
    display: flex;
    flex-direction: column;
  }
}
html body #services .servisebi3 .servisebi33 .circle {
  background-color: red;
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  html body #services .servisebi3 .servisebi33 .circle {
    transform: translate(87px, 239px);
    font-size: 35px;
    width: 101px;
    height: 187px;
  }
}
html body #services .servisebi3 .servisebi33 .shinaarsi3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translate(90px, -38px);
}
@media (max-width: 768px) {
  html body #services .servisebi3 .servisebi33 .shinaarsi3 {
    transform: translate(101px, -38px);
  }
}
@media (max-width: 480px) {
  html body #services .servisebi3 .servisebi33 .shinaarsi3 {
    transform: translate(38px, 277px);
    align-items: center;
  }
}
html body #services .servisebi3 .servisebi33 .shinaarsi3 h2 {
  font-size: 20px;
  color: black;
}
html body #services .servisebi3 .servisebi33 .shinaarsi3 p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #services .servisebi3 .servisebi33 .shinaarsi3 p {
    font-size: 11px;
  }
}
html body #news {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transform: translateY(-50px);
}
@media (max-width: 768px) {
  html body #news {
    transform: translateY(-250px);
  }
}
@media (max-width: 480px) {
  html body #news {
    transform: translateY(2050px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #news .h2p {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 480px) {
  html body #news .h2p {
    transform: translate(0px, 70px);
  }
}
html body #news .h2p .siaxle {
  font-size: 50px;
  color: rgb(24, 8, 8);
  font-size: 20px;
}
html body #news .h2p h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  font-size: 30px;
}
html body #news .h2p p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
  font-size: 20px;
}
html body #news .videooppen video {
  width: 1056px;
  height: 594px;
}
@media (max-width: 768px) {
  html body #news .videooppen video {
    width: 751px;
    transform: translateY(-111px);
  }
}
@media (max-width: 480px) {
  html body #news .videooppen video {
    width: 450px;
  }
}
html body #news .director-about {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
@media (max-width: 480px) {
  html body #news .director-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
html body #news .director-about .director {
  display: flex;
  gap: 30px;
  margin-left: 70px;
}
html body #news .director-about .director img {
  width: 200px;
}
@media (max-width: 768px) {
  html body #news .director-about .director img {
    width: 128px;
    position: absolute;
    top: 654px;
    left: 20px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .director img {
    width: 157px;
    position: absolute;
    top: 478px;
    left: 149px;
  }
}
html body #news .director-about .director .content-dir {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
html body #news .director-about .director .content-dir h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  font-size: 30px;
}
@media (max-width: 768px) {
  html body #news .director-about .director .content-dir h2 {
    font-size: 17px;
    position: absolute;
    top: 652px;
    left: 165px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .director .content-dir h2 {
    font-size: 30px;
    position: absolute;
    top: 719px;
    left: 96px;
  }
}
html body #news .director-about .director .content-dir p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #news .director-about .director .content-dir p {
    font-size: 11px;
    position: absolute;
    top: 673px;
    left: 166px;
    width: 170px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .director .content-dir p {
    font-size: 15px;
    position: absolute;
    top: 761px;
    left: 118px;
    width: 246px;
  }
}
html body #news .director-about .about122 {
  display: flex;
  gap: 30px;
  margin-right: 70px;
}
html body #news .director-about .about122 img {
  height: 300px;
}
@media (max-width: 768px) {
  html body #news .director-about .about122 img {
    height: 189px;
    position: absolute;
    top: 654px;
    left: 371px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .about122 img {
    width: 202px;
    height: 255px;
    position: absolute;
    top: 1050px;
    left: 126px;
  }
}
html body #news .director-about .about122 .content-about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}
html body #news .director-about .about122 .content-about h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  font-size: 30px;
}
@media (max-width: 768px) {
  html body #news .director-about .about122 .content-about h2 {
    font-size: 17px;
    position: absolute;
    top: 652px;
    left: 508px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .about122 .content-about h2 {
    font-size: 30px;
    position: absolute;
    top: 1325px;
    left: 114px;
  }
}
html body #news .director-about .about122 .content-about p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
@media (max-width: 768px) {
  html body #news .director-about .about122 .content-about p {
    font-size: 11px;
    position: absolute;
    top: 672px;
    left: 507px;
    width: 230px;
  }
}
@media (max-width: 480px) {
  html body #news .director-about .about122 .content-about p {
    font-size: 15px;
    position: absolute;
    top: 1375px;
    left: 118px;
    width: 246px;
  }
}
html body #contact {
  transform: translateY(-183px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
@media (max-width: 480px) {
  html body #contact {
    transform: translateY(3183px);
  }
}
html body #contact h2 {
  font-size: 50px;
  color: rgb(24, 8, 8);
  transform: translateY(-23px);
}
html body #contact p {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}
html body #contact a {
  color: rgb(24, 8, 8);
}
html body #contact button {
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  width: 200px;
}
html body footer {
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 480px) {
  html body footer {
    transform: translateY(3300px);
    gap: 20px;
  }
}
html body footer .footer-div {
  display: flex;
  gap: 50px;
}
@media (max-width: 480px) {
  html body footer .footer-div {
    gap: 78px;
  }
}
html body footer .footer-div img {
  width: 50px;
  height: 50px;
}
@media (max-width: 480px) {
  html body footer .footer-div img {
    transform: translate(33px, 0px);
  }
}
html body footer .footer-div nav {
  transform: translate(-37px, 21px);
}
html body footer .footer-div nav ul {
  display: flex;
  gap: 30px;
}
@media (max-width: 480px) {
  html body footer .footer-div nav ul {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  html body footer .footer-div nav ul li {
    font-size: 10px;
  }
}
html body footer .footer-div2 {
  display: flex;
  gap: 30px;
}
@media (max-width: 480px) {
  html body footer .footer-div2 {
    gap: 10px;
    transform: translateX(-41px);
  }
}
html body footer .footer-div2 .Copyright {
  display: flex;
  gap: 2px;
}
@media (max-width: 480px) {
  html body footer .footer-div2 .Copyright p {
    font-size: 13px;
  }
}/*# sourceMappingURL=global.css.map */