@mixin h4movie {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
@mixin ptext {
  font-size: 12px;
  line-height: 28px;
  color: #e0e0e0;
  font-family: "DejaVu Sans Condensed", sans-serif;
}

@mixin გაიგემეტი-button {
  border-radius: 4px;
  background-color: #2c3440;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 16px;
  width: 120px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 22px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

@mixin bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin h2about {
  font-size: 50px;
  color: rgb(24, 8, 8);
}
@mixin numbers {
  color: #dd2242;
  text-align: center;
  font-size: 42.137px;
  font-style: normal;
  font-weight: 700;
}
